.mobile-about-4 {
  width: 100%;
  background: #fff;
  min-height: 85vh;
  background-image: url('../../assets/images/about/mobile-houses.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  .content {
    margin-top: 18vh;
    padding-left: 8vw;
    padding-right: 8vw;
    width: 80vw;
    .title {
      span {
        font-size: 33px;
        line-height: 40px;
        color: white;
        font-weight: bold;
      }
    }
    .text {
      margin-top: 2vh;
      span {
        color: white;
        font-size: 12px;
      }
    }
    .button {
      margin-top: 2vh;
    }
  }
}
