@import "../../assets/styles/base";

.scroll-down {
  .text {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    margin-bottom: 0.5 * $m-padding-sm;
    @include Responsive(FHDDesktop) {
      font-size: 16px;
    }
  }
  .arrow-down {
    img {
      height: 5vh;
      display: block;
      margin: auto;
    }
  }
}
