.solution-1 {
  width: 100%;
  background: #fff;
  min-height: 50vh;

  .content {
    display: block;
    margin-left: 35vw;

    .intro {
      width: 30vw;
      position: relative;

      .image-question {
        position: absolute;
        left: 3vw;
        top: -20px;
        height: 28vh;
        @media (min-width: 1800px) and (max-width: 2560px) {
          height: 28vh;
        }
      }
      .text {
        padding-top: 20px;
        span {
          color: #43464a;
          font-size: 5vh;
          font-weight: bold;
          line-height: 60px;
          @media (min-width: 1800px) and (max-width: 2560px) {
            font-size: 50px;
            line-height: 70px;
          }
        }
        span.orange {
          color: #ff9206;
        }
      }
    }
  }
}
