@import "../../assets/styles/base";

.header {
  &.no-display {
    display: none;
  }

  align-content: center;
  position: fixed;
  @include Responsive(Phone_Landscape) {
    position: relative;
  }
  z-index: 5;
  top: 0;
  width: 100%;
  background: transparent;
  // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  &.bg-white {
    background: white;
  }

  .header-content {
    width: 80%;
    padding: 20px 0 20px 0;
    @include Responsive(Tablet_Portrait) {
      padding: 25px 0 25px 0;
    }
    @include Responsive(FHDDesktop) {
      padding: 30px 0 30px 0;
    }

    img {
      height: 25px;
      @include Responsive(FHDDesktop) {
        height: 35px;
      }
    }

    .burger {
      cursor: pointer;
      &:hover {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
      }
    }

    .logo {
      cursor: pointer;
    }

    .menu-container {
      .menu-item {
        padding-bottom: 10px;
        margin-left: 48px;
        cursor: pointer;
        span {
          font-size: 18px;
        }
        &.active,
        &:hover {
          border-bottom: 1px solid black;
        }
        &.white {
          color: white;
        }
        &.white:hover,
        &.white.active {
          border-bottom: 1px solid white;
        }
      }
    }
    .burger-container {
      cursor: pointer;
      margin: auto;

      div {
        width: 20px;
        height: 2px;
        background-color: #43464a;
        margin: 4px 0;
      }
      &.white div {
        background-color: #fff;
      }
    }

    .logo {
      cursor: pointer;
    }
  }
}
