@import "../../assets/styles/base";

.industry-2 {
  background: white;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding-bottom: $m-padding;

  .heading {
    padding-top: 100px;
    @include Responsive(Phone_Landscape) {
      padding-top: $m-padding;
    }
    padding-right: 10vw;
    padding-left: 10vw;
    width: 100%;
    text-align: right;
    span {
      color: #ff8e0a;
      font-size: 30px;
      @include Responsive(FHDDesktop) {
        font-size: 40px;
      }
      font-weight: bold;
    }
  }
  .list-product {
    @include Responsive(FHDDesktop) {
      margin-top: 24px !important;
    }
    margin-top: 30px;
    padding-right: 10vw;
    padding-left: 10vw;
    width: 100%;

    .icon-image {
      width: 60px;
      @include Responsive(FHDDesktop) {
        width: 90px;
      }
    }

    .title {
      span {
        font-weight: bold;
        font-size: 18px;
        color: #43464a;
        @include Responsive(FHDDesktop) {
          font-size: 24px;
        }
      }
    }
    .description {
      span {
        font-size: 16px;
        @include Responsive(FHDDesktop) {
          font-size: 20px;
        }
      }
    }
  }

  .button-container {
    margin-left: 10%;
  }
}
