@import "../../assets/styles/base";

.border-text {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;

  &.border-yellow.top {
    border-top: 1px solid #fc9107;
    .round-content {
      border: 1px solid #fc9107;
      color: #fc9107;
    }
    .title {
      color: #fc9107;
    }
  }

  &.border-pink.top {
    border-top: 1px solid #fa106c;
    .round-content {
      border: 1px solid #fa106c;
      color: #fa106c;
    }
    .title {
      color: #fa106c;
    }
  }

  &.top {
    margin-top: 20px;
    border-top: 1px solid #fa106c;
    width: 100%;
    position: relative;

    .round-content {
      left: 10vw;
      position: absolute;
      top: -20px;
      border: 1px solid #fa106c;
      width: 40px;
      height: 40px;
      @include Responsive(Phone_Portrait) {
        top: -18px;
        width: 36px;
        height: 36px;
        font-size: 16px;
      }
      @include Responsive(FHDDesktop) {
        top: -30px;
        border: 2px solid #fa106c;
        width: 60px;
        height: 60px;
        font-size: 28px;
      }
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fa106c;
    }
  }

  &.border-pink.left {
    border-left: 1px solid #fa106c;
    .round-content {
      border: 1px solid #fa106c;
      color: #fa106c;
    }
    .title {
      color: #fa106c;
    }
  }

  &.left {
    margin-top: 20px;
    border-left: 1px solid #fa106c;
    width: 100%;
    position: relative;
    .round-content {
      position: absolute;
      left: -20px;
      border: 1px solid #fa106c;
      width: 40px;
      height: 40px;

      &.right {
        right: 0;
      }
      @include Responsive(Phone_Portrait) {
        left: -18px;
        width: 36px;
        height: 36px;
        font-size: 16px;
      }
      @include Responsive(Tablet_Landscape) {
        left: -30px;
        border: 2px solid #fa106c;
        width: 60px;
        height: 60px;
        font-size: 28px;
      }
      @include Responsive(FHDDesktop) {
        left: -30px;
        border: 2px solid #fa106c;
        width: 60px;
        height: 60px;
        font-size: 28px;
      }
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fa106c;
    }
  }

  &.no-border {
    border: none !important;
    .round-content {
      display: none !important;
    }
  }

  .border-content {
    .text {
      margin-top: 25px;
      width: 80%;
      @include Responsive(Phone_Portrait) {
        width: 100%;
      }
      @include Responsive(FHDDesktop) {
        margin-top: 50px;
      }
      .title {
        font-size: 30px;
        font-weight: bold;
        @include Responsive(Tablet_Portrait) {
          font-size: 24px;
        }
        @include Responsive(iPadPro12_Landscape) {
          font-size: 40px;
        }
        @include Responsive(FHDDesktop) {
          font-size: 40px;
        }
      }
      .desc {
        margin-top: 12px;
        font-size: 18px;
        @include Responsive(Tablet_Portrait) {
          font-size: 18px;
        }
        // @include Responsive(Tablet_Landscape) {
        //   font-size: 28px;
        // }
        @include Responsive(iPadPro12_Landscape) {
          font-size: 28px;
        }
        @include Responsive(FHDDesktop) {
          font-size: 28px;
        }
      }
    }
  }
}
