.mobile-solution-2 {
  background: #43464a;
  min-height: 70vh;
  padding-bottom: 10vh;
  color: #fff;
  font-size: 12px;
  padding-left: 8vw;
  padding-right: 20vw;
  .title {
    padding-top: 10vh;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #fa106c;
  }
  .description {
    margin-top: 5vh;
  }
}
